# Miscellaneous / OS files
*.class
*.log
*.pyc
*.swp
*.bak
*.tmp
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# Environment variables & secrets
.env
.env.*
!.env.example
*.pem
*.key
*.crt

# IntelliJ / Android Studio / IDEs
*.iml
*.ipr
*.iws
.idea/
.vscode/
.cursor/
.fleet/
.atom/
.history
.svn/

# Flutter / Dart / Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/
**/doc/api/
.widget_preview/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android specific
android/.gradle/
android/local.properties
android/key.properties
android/captures/
android/.cxx/
android/app/debug/
android/app/profile/
android/app/release/
**/*.keystore
**/*.jks
*.hprof
GeneratedPluginRegistrant.java

# iOS specific
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Runner/GeneratedPluginRegistrant.*
**/DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
profile
xcuserdata/
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3

